<body>
  <div class="container">
          <h1>Crear Nuevo Usuario</h1>

          <div class="general">
              <div class="title">Informacion General</div>
              <!--<h2>Informacion General</h2>-->
          <div class="datos">
              <div class="input-box">
                  <span class="detalles">Nombres</span>
                  <input type="text"  class="Nombre">
              </div>
              <div class="input-box">
                  <span class="detalles">Telefono</span>
                  <input type="text"  class="Telefono">
              </div>
              <div class="input-box">
                  <span class="detalles">Apellidos</span>
                  <input type="text"  class="Apellidos">
              </div>
              <div class="input-box">
                  <span class="detalles">Correo</span>
                  <input type="text"  class="Correo">
              </div>
              <div class="input-box">
                  <span class="detalles">Contraseña</span>
                  <input type="password"  class="Contraseña">
              </div>

              <div class="input-box">
                  <span class="detalles">Confirmar Contraseña</span>
                  <input type="password"  class="Confirmar">
              </div>


              <div class="input-box">
                  <span class="detalles">Tipo de Documento</span>
                  <select name="TDocumento">
                      <option selected value="0">Seleccionar</option>
                      <option value="1">Cedula de Ciudadania</option>
                      <option value="2">Cedula de Extrangeria</option>
                      <option value="3">Registro Civil</option>
                      <option value="4">NIT</option>
                  </select>
              </div>


              <div class="input-box">
                  <span class="detalles">N° de Documento</span>
                  <input type="text"  class="NDocumento">
              </div>
              <div class="input-box">
                  <span class="detalles">Sexo</span>
                  <select name="Sexo">
                      <option selected value="0">Seleccionar</option>
                      <option value="1">Masculino</option>
                      <option value="2">Femenino</option>
                      <option value="3">Otro</option>
                  </select>
              </div>
          </div>

          </div>
          <div class="permisos">
              <div class="title">Permisos</div>
              <div class="datos">
                  <div class="input-box">
                      <span class="detalles">Nivel de Usuario</span>
                      <select name="NUsuario">
                          <option value="0">Seleccionar</option>
                          <option value="1">Administrador</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="detalles">Funcionalidad</span>
                      <select name="Funcionalidad">
                          <option value="0">Seleccionar</option>
                          <option value="1">Ser la Verga</option>
                      </select>
                  </div>
              </div>

          </div>
          <div class="botones">
              <div class="boton">
                  <input type="submit" value="Guardar">
              </div>
              <div class="boton">
                  <input type="submit" value="Cancelar">
              </div>

          </div>
  </div>
</body>
