 <div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/login" routerLinkActive="active">
        <button mat-button>
          Sign Out
        </button>
      </a>
      <h1 class="example-app-name">Menu Administrador</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav>
        <mat-nav-list >
          <a mat-list-item href="http://localhost:4200/verUsuario">Ver Usuario</a>
          <a mat-list-item href="http://localhost:4200/verMovimientos">Ver Movimientos</a>
          <a mat-list-item href="http://localhost:4200/registro">Registrar Empleados</a>
          <a mat-list-item href="http://localhost:4200/ingreso">Nuevo Ingreso</a>
          <a mat-list-item href="http://localhost:4200/gasto">Nuevo Gasto</a>
          <a mat-list-item href="http://localhost:4200/AgregarCuenta">Agregar Cuentas</a>
          <a mat-list-item href="http://localhost:4200/ConciliacionBancaria">Conciliacion Bancaria</a>
        </mat-nav-list>
      </mat-sidenav>

    </mat-sidenav-container>
  </div>
<body></body>



